<h2>Cadastrar Cartão</h2>
<%= render 'form', pix_register_option: @pix, payment_option: @payment_option, bank_codes: @bank_codes, button_text: t('.submit') %> 
<%= link_to 'Cancelar', payments_chosen_client_admin_company_path(current_user.company.token), class:"btn btn-dark btn-sm mb-1 mt-1" %>