<div class="container">
  <h2>
    <% if @products.empty? %>
      Nenhum produto cadastrado
    <% else %>
      Produtos cadastrados
    <% end %>
  </h2>
  <%= link_to 'Registrar produto', new_client_admin_company_product_path(current_user.company.token), class:"btn btn-primary btn-sm" %>
  <%= link_to 'Voltar', client_admin_company_path(current_user.company.token) , class:"btn btn-primary btn-sm" %> <br>
  <div>
    <% @products.each do |product|%>
    <ul class="list-group">
      <li class="list-group-item"><%= link_to "#{product.name}", client_admin_company_product_path(product.company.token, product.token), class:"btn btn-success btn-sm" %> - Preço: <%= number_to_currency product.price %></li>
    </ul>
    <% end %>
  </div>
  
</div>