<h2>Cadastrar Produto</h2>
<%= render 'form', product: @product, company: @company, url: clients_company_products_path(@company.token), button_text: t('.submit') %> 
<%= link_to 'Cancelar', clients_company_products_path(@company.token), class:"btn btn-dark btn-sm mb-1 mt-1" %>