<div class="container">
  <% if current_user && @domainrecord1 && @domainrecord1.blocked? %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">Sua conta está bloqueada, entre em contato com o nosso atendimento</div>
  <% elsif current_user && @domainrecord2 && @domainrecord2.blocked? %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">Sua conta está bloqueada, entre em contato com o nosso atendimento</div>
  <% end %>
  <h1>Paynow</h1>
  <h4>Bem vindos a PayNow</h4>
  <p>Somos uma plataforma de pagamento</p>
  <p>Organize e gerencie suas vendas</p>
  <h1>;)</h1>
  <%= image_tag "CreditCard.png" %>
</div>