<div class="container">
  <h1>Paynow</h1> <br>
  <h4>Bem vindos a PayNow</h4>
  <p>Somos uma plataforma de pagamento</p>
  <p>Organize e gerencie suas vendas</p>
  <% if user_signed_in? %>
    <% if current_user.client? || current_user.client_admin? %>
      <%= link_to "#{@company.corporate_name}", '#', class:"btn btn-primary btn-sm" %>
    <% end %>
  <% end %>
</div>
