<div class="container">
  <% if current_user && DomainRecord.find_by(email: current_user.email) && DomainRecord.find_by(email: current_user.email).blocked? %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">Você está bloqueado, entre em contato com o nosso atendimento</div>
  <% end %>
  <h1>Paynow</h1> <br>
  <h4>Bem vindos a PayNow</h4>
  <p>Somos uma plataforma de pagamento</p>
  <p>Organize e gerencie suas vendas</p>
</div>